#### 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos. You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [18]:
import pandas as pd
import selenium
import time
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [19]:
driver= webdriver.Chrome(r'C:\Users\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"    #url
driver.get(url)
time.sleep(5)

In [26]:
rank=[]
name=[]
art=[]
date=[]
view=[]

for i in range(1,31):    #get rows
    for j in range(1,6):     #get columns
        a=driver.find_element("xpath",'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr['+str(i)+']/td['+str(j)+']')
        
        if j%5==1:
            rank.append(a.text)    #rank
            
        if j%5==2:
            name.append(a.text.split("[")[0])    #name
            
        if j%5==3:
            art.append(a.text)    #artist
            
        if j%5==4:
            view.append(a.text)    #date
            
        if j%5==0:
            date.append(a.text)    #views

print(len(rank), len(name), len(art), len(date), len(view))

30 30 30 30 30

In [27]:
df= pd.DataFrame({"Rank":rank, "Name": name, "Artist": art, "Publication date": date, "Views": view})
df=df.set_index("Rank")
df

,Name,Artist,Publication date,Views
Rank,,,,
1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
2.,"""Despacito""",Luis Fonsi,"January 12, 2017",8.05
3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.57
4.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
5.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.88
6.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.74
7.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",5.08
8.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.79
9.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
10.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.76
11.,"""Gangnam Style""",Psy,"July 15, 2012",4.64
12.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.52
13.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.18
14.,"""Sugar""",Maroon 5,"January 14, 2015",3.80
15.,"""Roar""",Katy Perry,"September 5, 2013",3.70
16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.70
17.,"""Axel F""",Crazy Frog,"June 16, 2009",3.67
18.,"""Sorry""",Justin Bieber,"October 22, 2015",3.62
19.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.53
20.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
21.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.42
22.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.40
23.,"""Faded""",Alan Walker,"December 3, 2015",3.38
24.,"""Let Her Go""",Passenger,"July 25, 2012",3.36
25.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.35
26.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.33
27.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.31
28.,"""Lean On""",Major Lazer,"March 22, 2015",3.31
29.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
30.,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.24

In [28]:
driver.close()

#### 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [29]:
import pandas as pd
import selenium
import time
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [30]:
driver= webdriver.Chrome(r'C:\Users\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url="https://www.bcci.tv/"
driver.get(url)    #get to url
time.sleep(5)

In [54]:
for i in driver.find_elements("xpath",'//li[@class="nav-item"]'):
    if(i.text)=="INTERNATIONAL":
        i.click()    #click the link to reach to international fixtures
        break

In [45]:
title=[]
series=[]
place=[]
date=[]
tim=[]

for i in driver.find_elements("xpath",'//div[@class="fix-place ng-binding ng-scope"]'):
    title.append(i.text.split(" - ")[0])    #title
    place.append(i.text.split(" - ")[1])    #place
    
for i in driver.find_elements("xpath",'//span[@class="ng-binding"]'):
    series.append(i.text)    #series
    
for i in driver.find_elements("xpath",'//div[@class="match-top-info d-flex align-items-center justify-content-between"]'):
    date.append(i.text.split("\n")[0])    #date
    tim.append(i.text.split("\n")[1])    #time

In [48]:
df= pd.DataFrame({"Match title": title, "Series": series, "Place":place, "Date": date, "Time":tim})
df

,Match title,Series,Place,Date,Time
0,3rd T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",31 DEC 2022,1:30 PM IST
1,4th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",2 JAN 2023,5:15 PM IST
2,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium, Mumbai",3 JAN 2023,7:00 PM IST
3,5th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",4 JAN 2023,1:30 PM IST
4,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium, Pune",5 JAN 2023,7:00 PM IST
5,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Saurashtra Cricket Association Stadium, Rajkot",7 JAN 2023,7:00 PM IST
6,1st ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
7,2nd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST

In [49]:
driver.close()

#### 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ . You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [51]:
import pandas as pd
import selenium
import time
import warnings
from selenium import webdriver
warnings.filterwarnings("ignore")

In [57]:
driver= webdriver.Chrome(r'C:\USers\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url="https://www.guru99.com/"
driver.get(url)
time.sleep(5)

In [58]:
#click the path to reach to selenium
driver.find_element("xpath",'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a').click()
time.sleep(3)

In [64]:
#pop up termination
try:
    driver.find_element("xpath",'/html/body/div[6]/div/div[1]/div/div/div/div/div[1]').click()
    
except:
    pass

In [66]:
#scroll down
driver.execute_script("window.scrollBy(0,4000);")

In [67]:
#exception handling page
driver.find_element("xpath",'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a').click()
time.sleep(3)

In [76]:
name=[]
note=[]
for i in range(1,42):
    a=driver.find_element("xpath",'/html/body/div[1]/div/div/div/main/div/article/div/div/p['+str(i)+']')
    name.append(a.text.split(":")[0][3:])    #name
    note.append(a.text.split(":")[1])    #description note

In [77]:
len(name), len(note)

(41, 41)

In [78]:
df= pd.DataFrame({"Exception Name": name, "Description note":note})
df

,Exception Name,Description note
0,ElementNotVisibleException,This type of Selenium exception occurs when a...
1,ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,NoSuchElementException,This Exception occurs if an element could not...
3,NoSuchFrameException,This Exception occurs if the frame target to ...
4,NoAlertPresentException,This Exception occurs when you switch to no p...
5,NoSuchWindowException,This Exception occurs if the window target to...
6,StaleElementReferenceException,This Selenium exception occurs happens when t...
7,SessionNotFoundException,The WebDriver is acting after you quit the br...
8,TimeoutException,Thrown when there is not enough time for a co...
9,WebDriverException,This Exception takes place when the WebDriver...
10,ConnectionClosedException,This type of Exception takes place when there...
11,ElementClickInterceptedException,The command may not be completed as the eleme...
12,ElementNotInteractableException,This Selenium exception is thrown when any el...
13,ErrorInResponseException,This happens while interacting with the Firef...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
15,ImeActivationFailedException,This expectation will occur when IME engine a...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certi...
18,InvalidArgumentException,It occurs when an argument does not belong to...
19,InvalidCookieDomainException,This happens when you try to add a cookie und...
20,InvalidCoordinatesException,This type of Exception matches an interacting...
21,InvalidElementStateException,It occurs when command can’t be finished when...
22,InvalidSessionIdException,This Exception took place when the given sess...
23,InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,JavascriptException,This issue occurs while executing JavaScript ...
25,JsonException,It occurs when you afford to get the session ...
26,NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching...
30,NotFoundException,This Exception is a subclass of WebDriverExce...
31,RemoteDriverServerException,This Selenium exception is thrown when the se...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be su...
34,UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,UnexpectedTagNameException,Happens if a support class did not get a web ...
36,UnhandledAlertException,This expectation occurs when there is an aler...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,UnknownMethodException,This Exception happens when the requested com...
39,UnreachableBrowserException,This Exception occurs only when the browser i...
40,UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

In [79]:
driver.close()

#### 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ . You have to find following details: A) Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices E) Share(18-19) F) GDP(dollar billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [80]:
import pandas as pd
import selenium
import time
import warnings
from selenium import webdriver
warnings.filterwarnings("ignore")

In [91]:
driver= webdriver.Chrome(r'C:\USers\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url="http://statisticstimes.com/"
driver.get(url)
time.sleep(5)

In [92]:
for i in driver.find_elements("xpath",'//div[@class="dropdown"]'):
    if(i.text)=='Economy':
        i.click()    #click economy dropdown
        break

driver.find_element("xpath",'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()    #click India from the dropdown
time.sleep(3)

driver.find_element("xpath",'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()    #click GDP of Indian states
time.sleep(3)

#scroll down
driver.execute_script("window.scrollBy(0,2000);")

In [107]:
rank=[]
state=[]
gs18=[]
gs19=[]
share=[]
gdp=[]

for i in range(1,34):
    for j in range(1,7):
        a= driver.find_element('xpath','/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr['+str(i)+']/td['+str(j)+']')
        
        if j%6==1:
            rank.append(a.text)    #rank
            
        elif j%6==2:
            state.append(a.text)    #state
            
        elif j%6==3:
            gs19.append(a.text)    #gsdp 19-20
            
        elif j%6==4:
            gs18.append(a.text)    #gsdp 18-19
            
        elif j%6==5:
            share.append(a.text)    #share
        
        elif j%6==0:
            gdp.append(a.text)    #GDP

In [108]:
len(rank), len(state), len(gs18), len(gs19), len(share), len(gdp)

(33, 33, 33, 33, 33, 33)

In [110]:
df= pd.DataFrame({'RANK': rank, "State": state, "GSDP (19-20)":gs19, "GSDP (18-19)":gs18, "Share(18-19)":share, 
                  "GDP ($ billion)": gdp})

df= df.set_index("RANK")
df

,State,GSDP (19-20),GSDP (18-19),Share(18-19),GDP ($ billion)
RANK,,,,,
1,Maharashtra,-,"2,632,792",13.94%,399.921
2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
4,Gujarat,-,"1,502,899",7.96%,228.290
5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
7,Rajasthan,"1,020,989","942,586",4.99%,143.179
8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
9,Telangana,"969,604","861,031",4.56%,130.791
10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
11,Kerala,-,"781,653",4.14%,118.733
12,Delhi,"856,112","774,870",4.10%,117.703
13,Haryana,"831,610","734,163",3.89%,111.519
14,Bihar,"611,804","530,363",2.81%,80.562
15,Punjab,"574,760","526,376",2.79%,79.957
16,Odisha,"521,275","487,805",2.58%,74.098
17,Assam,-,"315,881",1.67%,47.982
18,Chhattisgarh,"329,180","304,063",1.61%,46.187
19,Jharkhand,"328,598","297,204",1.57%,45.145
20,Uttarakhand,-,"245,895",1.30%,37.351
21,Jammu & Kashmir,-,"155,956",0.83%,23.690
22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
23,Goa,"80,449","73,170",0.39%,11.115
24,Tripura,"55,984","49,845",0.26%,7.571
25,Chandigarh,-,"42,114",0.22%,6.397
26,Puducherry,"38,253","34,433",0.18%,5.230
27,Meghalaya,"36,572","33,481",0.18%,5.086
28,Sikkim,"32,496","28,723",0.15%,4.363
29,Manipur,"31,790","27,870",0.15%,4.233
30,Nagaland,-,"27,283",0.14%,4.144
31,Arunachal Pradesh,-,"24,603",0.13%,3.737
32,Mizoram,"26,503","22,287",0.12%,3.385
33,Andaman & Nicobar Islands,-,-,-,-

In [111]:
driver.close()

#### 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used.

In [207]:
import pandas as pd
import selenium
import time
import warnings
from selenium import webdriver
warnings.filterwarnings("ignore")

In [208]:
driver= webdriver.Chrome(r'C:\USers\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url="https://github.com/"
driver.get(url)
time.sleep(5)

In [209]:
a=driver.find_elements("xpath",'//li[@class="HeaderMenu-item position-relative flex-wrap flex-justify-between flex-items-center d-block d-lg-flex flex-lg-nowrap flex-lg-items-center js-details-container js-header-menu-item"]')
for i in a:
    if (i.text)=='Open Source':
        i.click()
        break
        
driver.find_element("xpath",'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a').click()
time.sleep(3)

In [210]:
link=[]
for i in driver.find_elements("xpath",'//h1[@class="h3 lh-condensed"]/a'):
    link.append(i.get_attribute("href"))

In [211]:
title=[]
des=[]
count=[]
lang=[]
for i in link:
    driver.get(i)
    time.sleep(3)
    
    # Repository title
    a= (driver.find_element('xpath','//div[@class=" d-flex flex-wrap flex-items-center wb-break-word f3 text-normal"]').text)
    title.append(a.split("/\n")[1].split("\n")[0])
    
    des.append(driver.find_element("xpath",'//p[@class="f4 my-3"]').text)    #description

    cnt= driver.find_elements("xpath",'//span[@class="Counter"]')    #counter
    count.append(cnt[-1].text)
        
    l=[]
    for i in driver.find_elements("xpath",'//span[@class="color-fg-default text-bold mr-1"]'):
        l.append(i.text)
    lang.append(l)

In [212]:
len(title), len(des), len(count), len(lang)

(25, 25, 25, 25)

In [213]:
df= pd.DataFrame({"Repository title": title, "Repository description": des, "Contributors count": count, "Languages used": lang})

for i in df.columns:                 # fill empty values with "-"
    for c in range (len(title)):
        if len(df[i][c])==0:
            df[i][c]="-"

df

,Repository title,Repository description,Contributors count,Languages used
0,Reactive-Resume,A one-of-a-kind resume builder that keeps your...,84,"[TypeScript, SCSS, JavaScript, Dockerfile, Kot..."
1,awesome-python,"A curated list of awesome Python frameworks, l...",396,"[Python, Makefile]"
2,awesome-english-ebooks,"经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi...",-,[CSS]
3,Open-Assistant,OpenAssistant is a chat-based assistant that u...,32,"[Jupyter Notebook, Python, TypeScript, JavaScr..."
4,cramming,Cramming the training of a (BERT-type) languag...,-,"[Python, Shell]"
5,javascript,JavaScript Style Guide,488,[JavaScript]
6,PaLM-rlhf-pytorch,Implementation of RLHF (Reinforcement Learning...,4,[Python]
7,chinese-independent-blogs,中文独立博客列表,857,"[JavaScript, Python]"
8,arthas,Alibaba Java Diagnostic Tool Arthas/Alibaba Ja...,166,"[Java, C, Vue, C++, TypeScript, Shell, Other]"
9,Flipper,Playground (and dump) of stuff I make or modif...,71,"[C, C++, Batchfile, Python, PowerShell, Shell]"
10,ai-notes,"notes for my AI studies, writing, and product ...",9,"[JavaScript, CSS]"
11,microfeed,"a lightweight cms self-hosted on cloudflare, f...",2,"[JavaScript, HTML, Other]"
12,CodeFormer,[NeurIPS 2022] Towards Robust Blind Face Resto...,3,"[Python, Cuda, C++]"
13,IPTV,肥羊的4K/8K超高清IPTV直播源&&直播代码仓库,2,-
14,unocss,The instant on-demand atomic CSS engine.,146,"[TypeScript, Vue, CSS, JavaScript, HTML]"
15,server,"☁️ Nextcloud server, a safe home for all your ...",845,"[PHP, JavaScript, Vue, Gherkin, SCSS, CSS, Other]"
16,gpt_index,An index created by GPT to organize external i...,6,"[Python, Jupyter Notebook]"
17,osv-scanner,Vulnerability scanner written in Go which uses...,15,"[Go, Other]"
18,upscayl,🆙 Upscayl - Free and Open Source AI Image Upsc...,7,"[TypeScript, JavaScript, Python, CSS]"
19,awesome-design-patterns,A curated list of software and architecture re...,28,-
20,ChatGPT,"🤖 ChatGPT Desktop Application (Mac, Windows an...",8,"[Rust, TypeScript, Ruby, HTML]"
21,Atlas,"🚀 An open-source modification of Windows 10, d...",17,"[Batchfile, PowerShell]"
22,strapi,🚀 Strapi is the leading open-source headless C...,834,"[JavaScript, Other]"
23,HelloGitHub,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",11,[Python]
24,curl,A command line tool and library for transferri...,888,"[C, Perl, M4, DIGITAL Command Language, CMake,..."

In [214]:
driver.close()

#### 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ . You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board

In [236]:
import pandas as pd
import selenium
import time
import warnings
from selenium import webdriver
warnings.filterwarnings("ignore")

In [242]:
driver= webdriver.Chrome(r'C:\USers\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url="https://www.billboard.com/"
driver.get(url)
time.sleep(5)

In [246]:
#click chart  menu
driver.find_element("xpath",'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()
time.sleep(3)

#goto billboard chart
driver.find_element("xpath",'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]').click()
time.sleep(3)

#scroll down
driver.execute_script("window.scrollBy(0,4000);")

In [247]:
#Song name
name=[]
song=driver.find_elements("xpath",'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only" or @class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
for i in song:
    name.append(i.text)
    
#Artist
artist=[]
art=driver.find_elements("xpath",'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only" or @class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in art:
    artist.append(i.text)
    
#past week
past=[]
peak=[]
board=[]
c=0
pw=driver.find_elements("xpath",'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max" or @class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
for i in pw:
    if c%6==0:
        past.append(i.text)
    elif c%6==1:
        peak.append(i.text)
    elif c%6==2:
        board.append(i.text)    
    else:
        pass
    c+=1

In [248]:
print(len(name),len(artist),len(past),len(peak),len(board))

100 100 100 100 100

In [249]:
df= pd.DataFrame({'Song name': name, 'Artist name': artist, 'Last week rank': past, 'Peak rank':peak, 'Weeks on board':board})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,51
2,Jingle Bell Rock,Bobby Helms,4,3,48
3,A Holly Jolly Christmas,Burl Ives,5,4,31
4,Last Christmas,Wham!,6,5,30
...,...,...,...,...,...
95,Down Home,Jimmie Allen,-,88,5
96,One Thing At A Time,Morgan Wallen,81,37,3
97,Hold Me Closer,Elton John & Britney Spears,89,6,17
98,Far,SZA,61,61,2
99,All Mine,Brent Faiyaz,95,42,20

In [250]:
driver.close()

#### 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/hr-recruiters-consultants .You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location

In [251]:
import pandas as pd
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings("ignore")

In [252]:
driver=webdriver.Chrome(r"C:\Users\amang\chromedriver_win32\chromedriver.exe")
driver.maximize_window()

url = "https://www.naukri.com/browse-jobs"
driver.get(url)
time.sleep(5)

In [253]:
#pop up termination
try:
    driver.find_element("xpath",'/html/body/div[11]/span[1]').click()
except:
    pass

#go to recruiters page
driver.get(driver.find_element("xpath",'/html/body/div[1]/div/ul/li[2]/a').get_attribute("href"))
time.sleep(3)

In [254]:
driver.find_element("xpath",'//*[@id="skill"]/div[1]/div[2]/input').send_keys("DataScience")    #text entry
driver.find_element("xpath","/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button").click()    #search button
time.sleep(3)

In [255]:
name=[]
design=[]
company=[]
locate=[]
skill=[]

#name
nm=driver.find_elements("xpath",'//span[@class="fl ellipsis"]')
for i in nm:
    name.append(i.text)
    
#designation
des=driver.find_elements("xpath",'//span[@class="ellipsis clr"]')
for i in des:
    design.append(i.text)
    
#company
c=0
com=driver.find_elements("xpath",'//a[@class="ellipsis"]')
for i in com:
    if c%2!=0:
        company.append(i.text)
    c+=1
    
#location
loc=driver.find_elements("xpath",'//small[@class="ellipsis"]')
for i in loc:
    locate.append(i.text)
    
#skills
sk=driver.find_elements("xpath",'//div[@class="hireSec highlightable"]')
for i in sk:
    skill.append(i.text)

In [256]:
print(len(name),len(design),len(company),len(locate),len(skill))

36 36 36 36 36

In [257]:
df=pd.DataFrame({"Name": name, "Designation": design, "Company name": company, "Skills hiring for": skill})
df

,Name,Designation,Company name,Skills hiring for
0,Rose Mary,Talent Acquisition Specialist,Flex i Partners,"Senior Management, Information Technology, Fac..."
1,Jatin Nagpal,Company Recruiter,Cvent India Pvt. Ltd.,Not Specified
2,Besant Technologies,Assistant Manager,Besant Technologies,"Training, Education"
3,Shanthi,Company Recruiter,Iris Technologies,Not Specified
4,Dilip,HR Executive,Greens Technologys Velachery,"Human Resource Management, Software Development"
5,Sakshi Singh,Company Recruiter,Holcim Services (South Aisa) Limited,Not Specified
6,JTS,HR,Jignasa Techno Solutions Pvt Ltd,Not Specified
7,TA,Company Recruiter,Manipal Global Education Services Private...,Not Specified
8,Niharika,HR,SaltSide,Not Specified
9,Chandra,Company Recruiter,A2Z CONTACTS PRIVATE LIMITED,Not Specified
10,HR,Talent Acquisition Manager,Afitech,"Corporate Training, Training, Training Coordin..."
11,Joyce Roslin,HR IT Recruiter,Aegan Technologies Pvt Ltd,"Fetchr India, Intellectyx DataScience Pvt Ltd"
12,Gargi Dave,Company Recruiter,HighRadius Technologies Pvt Ltd,Not Specified
13,Binary Fox,Company Recruiter,BINARY FOX SERVICES LLP,"Frontend, Backend, Fullstack, Tester, Erp, Dwh..."
14,Sandeep Selvan,Sr Consultant,Wenger &amp; Watson,CONFIDENCIAL
15,Rajashekar,Talent Acquisition Executive,CBSI India Pvt. Ltd.,Not Specified
16,Anujhgna,HR Manager,Zopak Software Private Limited,"html5, css, javascript, Qa Testing, Scala, Ang..."
17,PoojaHR,HR Recruiter,Magneq Software,Not Specified
18,BlockSec Privacy,Vice President HR,BlockSec Privacy,Not Specified
19,Pooja HR,HR Recruiter,Magneq Software,Not Specified
20,Namratha,Senior Human Resources Executive,Global Sena Consultancy Pvt. Ltd.,Not Specified
21,Sai Theja,Operations Lead,Sumyag Data Sciences Private Limited,"Data Science, Engineering, Data Analysis, Big ..."
22,Madhu Mohan Rao Neelam,Company Recruiter,CoArtha Technosolutions Private Limited,Not Specified
23,Techsel Solutions,Human Resource Management,Techsel Solutions,Not Specified
24,Maran,Director,DISTINCT SYSTEMS &amp; TECHNOLOGIES PRIVATE...,Not Specified
25,Sandeep Seth,Co Director,Data Science Technologies Pvt Ltd,Not Specified
26,CADD Centre Thane I Dombivali I Airoli,Company Recruiter,Sansach Technologies,Not Specified
27,Vijayalakshmi,Senior Recruiter,Avyayh,Not Specified
28,Richa Awasthi,TA &amp; Operation Manager,Uberlife Consulting Private Limited,Not Specified
29,Samuel,Senior Executive TAG,Innominds,Not Specified
30,Naveen V,Recruitment Consultant,JoulestoWatts Business Solutions Pvt Ltd,Not Specified
31,P N Venugopal,Recruitment Consultant,P N Venugopal Associates,Not Specified
32,Mohideen,Recruitment Consultant,Inceptez Technologies,Not Specified
33,Magesh Kumar Quess Corp,Senior Consultant IT Recruitment,Quess Corp Ltd.,"Guidewire, Ui Development, Pega Prpc, Pega Rul..."
34,Jyoti Moily,Managing partner,Unitres Business Solutions,Not Specified
35,Rishika Seth,Chief Financial Officer,Datascience Technologies Pvt. Ltd.,Not Specified

In [258]:
driver.close()

#### 8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/ .You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [266]:
import pandas as pd
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings("ignore")

from selenium.webdriver.common.by import By

In [263]:
driver=webdriver.Chrome(r"C:\Users\amang\chromedriver_win32\chromedriver.exe")
driver.maximize_window()

url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(5)

#scroll down
driver.execute_script("window.scrollBy(0,5000);")

In [272]:
name=[]
author=[]
vol=[]
pub=[]
genre=[]
c=0

tab=driver.find_elements(By.TAG_NAME,"td")
for i in tab:
    if i.text==tab[0].text:
        continue
#rank pass
    elif c%6==0:
        pass
        #print(i.text)   
#book
    elif c%6==1:
        name.append(i.text)
#author
    elif c%6==2:
        author.append(i.text)
#volumes sold
    elif c%6==3:
        vol.append(i.text)
#publisher
    elif c%6==4:
        pub.append(i.text)
#genre
    elif c%6==5:
        genre.append(i.text)
    c+=1
    
print(len(name),len(author),len(vol),len(pub),len(genre))

100 100 100 100 100

In [273]:
df=pd.DataFrame({"Book name":name, "Author name":author, "Volumes sold": vol, "Publisher":pub, "Genre":genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [274]:
driver.close()

#### 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ . You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [3]:
import pandas as pd
import selenium
import time
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver

In [4]:
driver=webdriver.Chrome(r"C:\Users\amang\chromedriver_win32\chromedriver.exe")
driver.maximize_window()

url="https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(5)

In [6]:
#scroll down
driver.execute_script("window.scrollBy(0,20000);")

In [37]:
name=[]
year=[]
genre=[]
runtime=[]
rate=[]
vote=[]
c=0

for i in driver.find_elements("xpath",'//h3[@class="lister-item-header"]'):    #get name and year of genre
    if len(i.text.split(" ")[-1])==11:
        name.append(" ".join(i.text.split(" ")[1:-1]))
        year.append(i.text.split(" ")[-1])
        
    else:
        name.append(" ".join(i.text.split(" ")[1:-2]))
        year.append(" ".join(i.text.split(" ")[-2:]))

for i in driver.find_elements("xpath",'//p[@class="text-muted text-small"]'):
    if c%3==0:
        runtime.append(i.text.split("|")[1])    #runtime
        genre.append(i.text.split("|")[2])     #genre
    
    elif c%3==2:
        vote.append(i.text.split(": ")[1])     #votes
    c+=1

for i in driver.find_elements("xpath",'//div[@class="ipl-rating-star small"]'):    #ratings
    rate.append(i.text)

In [39]:
print(len(name),len(year),len(genre),len(runtime),len(rate), len(vote))

100 100 100 100 100 100

In [40]:
df=pd.DataFrame({"Show name": name, "Year span":year, "Genre":genre, 'Run time': runtime, "Ratings":rate})
df

,Show name,Year span,Genre,Run time,Ratings
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6
...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1
99,The Haunting of Hill,House (2018),"Drama, Horror, Mystery",572 min,8.6

In [41]:
driver.close()

#### 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ . You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [131]:
import pandas as pd
import selenium
import time
import warnings
from selenium import webdriver
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By

In [132]:
driver=webdriver.Chrome(r"C:\Users\amang\chromedriver_win32\chromedriver.exe")
driver.maximize_window()

url="https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(5)

driver.find_element("xpath",'/html/body/table[1]/tbody/tr/td[2]/span[2]').click()    #click "view all datasets"
time.sleep(3)

In [133]:
name=[]
data=[]
task=[]
types=[]
instance=[]
attribute=[]
year=[]

for i in range (2,624):
#name
    nm=driver.find_element("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[1]/table/tbody/tr/td[2]/p/b/a')
    name.append(nm.text)
#datatype
    dt=driver.find_element("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[2]/p')
    data.append(dt.text)
#task
    tsk=driver.find_element("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[3]/p')
    task.append(tsk.text)
#attribute type
    ty=driver.find_element("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[4]/p')
    types.append(ty.text)
#instance
    inst=driver.find_element("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[5]/p')
    instance.append(inst.text)
#attributes nos
    attr=driver.find_element("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[6]/p')
    attribute.append(attr.text)
#year
    yr=driver.find_element("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[7]/p')
    year.append(yr.text)

In [134]:
len(name), len(data), len(task), len(types), len(instance), len(attribute), len(year)

(622, 622, 622, 622, 622, 622, 622)

In [138]:
df=pd.DataFrame({"Dataset name":name, "Data type":data, "Task":task, "Attribute types":types, "no. of Instances":instance, "no. of Attributes":attribute, "Year":year})

for i in df.columns:                 # fill empty values with "-"
    for c in range (len(name)):
        if (df[i][c])==" ":
            df[i][c]="-"
            
df

,Dataset name,Data type,Task,Attribute types,no. of Instances,no. of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,-,Classification,-,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [139]:
driver.close()