#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps: 1. First get the webpage https://www.naukri.com/ 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 3. Then click the search button. 4. Then scrape the data for the first 10 jobs results you get. 5. Finally create a dataframe of the scraped data.

In [16]:
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings("ignore")

In [17]:
driver= webdriver.Chrome(r'C:\Users\amang\chromedriver_win32\chromedriver.exe') #defining webdriver

In [18]:
url="https://www.naukri.com/"
driver.get(url)
driver.maximize_window()   #Maximize window

job= driver.find_element("xpath","/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")    # adding input as Data analyst
job.send_keys("Data Analyst")           

loc= driver.find_element("xpath","/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")    # adding location
loc.send_keys("Banglore")

srch= driver.find_element("xpath","/html/body/div[1]/div[6]/div/div/div[6]")    # click search button
srch.click()
time.sleep(3)    # wait 3s to load

In [19]:
title=[]
t= driver.find_elements("xpath",'//a[@class="title fw500 ellipsis"]')    # get job titles
for i in range(0,10):
    title.append(t[i].text)

In [20]:
comp=[]
c= driver.find_elements("xpath",'//a[@class="subTitle ellipsis fleft"]')   # get company names
for i in range(0,10):
    comp.append(c[i].text)

In [21]:
exp=[]
e=driver.find_elements("xpath",'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')   #get experience requirements
for i in range(0,10):
    exp.append(e[i].text)

In [22]:
loc=[]
l= driver.find_elements("xpath",'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')    #get location
for i in range(0,10):
    loc.append(l[i].text)

In [23]:
tim=[]
s= driver.find_elements("xpath",'//span[@class="fleft fw500"]')    #get timestamp
for i in range(0,10):
    tim.append(s[i].text)

In [24]:
print(len(title),len(comp),len(exp),len(loc),len(tim))   #checking the length of obtained data

10 10 10 10 10

In [25]:
# making dataframe
df=pd.DataFrame({"Job Title":title, "Company name":comp, "Experience Required": exp, "Location": loc, "Timestamp": tim})
df

,Job Title,Company name,Experience Required,Location,Timestamp
0,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru,1 DAY AGO
1,"Data Analyst, Business Analyst",Clinilaunch Research Institute Llp,0-5 Yrs,Bangalore/Bengaluru(HSR Layout +1),1 DAY AGO
2,Data Analyst,Treebo Hotels,1-5 Yrs,Temp. WFH - Bangalore/Bengaluru,JUST NOW
3,Data Analyst,Cargill,2-4 Yrs,Bangalore/Bengaluru,6 DAYS AGO
4,Data Analyst / Product Analyst / Business Analyst,Benchire,2-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR",5 DAYS AGO
5,Senior Data Analyst - Data Modeling/Quality,Get My Parking,4-9 Yrs,Bangalore/Bengaluru,5 DAYS AGO
6,Senior Data Analyst,Yallas Technology Solutions Opc,2-7 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",JUST NOW
7,Sr . Data Analyst,Aidash Systems,3-8 Yrs,Bangalore/Bengaluru,1 DAY AGO
8,Data Analyst,CGI,0-2 Yrs,Bangalore/Bengaluru,13 DAYS AGO
9,Data Analyst - SQL,Teamware Solutions,3-5 Yrs,Bangalore/Bengaluru,JUST NOW

In [26]:
driver.close()

#### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps: 1. First get the webpage https://www.naukri.com/ 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 3. Then click the search button. 4. Then scrape the data for the first 10 jobs results you get. 5. Finally create a dataframe of the scraped data

In [27]:
driver= webdriver.Chrome(r"C:\Users\amang\Chromedriver_win32\chromedriver.exe")

In [28]:
url="https://www.naukri.com/"
driver.get(url)
driver.maximize_window()

job= driver.find_element("xpath","/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
job.send_keys("Data Scientist")

loc= driver.find_element("xpath","/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc.send_keys("Banglore")

srch= driver.find_element("xpath","/html/body/div[1]/div[6]/div/div/div[6]")
srch.click()
time.sleep(3)

In [35]:
title=[]
comp=[]
exp=[]
loc=[]
ts=[]

t=driver.find_elements("xpath",'//a[@class="title fw500 ellipsis"]')                    # get job titles
c= driver.find_elements("xpath",'//a[@class="subTitle ellipsis fleft"]')                # get company names
e= driver.find_elements("xpath",'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')    # get experience req
l=driver.find_elements("xpath",'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')     # get location
samay= driver.find_elements("xpath",'//span[@class="fleft fw500"]')                     # get timestamp
 
# appending data repectively
for i in range(0,10):
    title.append(t[i].text)
    comp.append(c[i].text)
    exp.append(e[i].text)
    loc.append(l[i].text)
    ts.append(samay[i].text)

In [36]:
print(len(title), len(comp), len(exp), len(loc), len(ts))

10 10 10 10 10

In [37]:
df=pd.DataFrame({"Job title":title, "Company name":comp, "Experience required": exp, "Location":loc, "Timestamp": ts})
df

,Job title,Company name,Experience required,Location,Timestamp
0,Analystics & Modeling Specialist,Accenture,6-8 Yrs,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",5 DAYS AGO
1,Data Scientist,Tata Nexarc,4-8 Yrs,"New Delhi, Hyderabad/Secunderabad, Pune, Ahmed...",25 DAYS AGO
2,Data Scientist,Tech Mahindra,5-8 Yrs,"Nagpur, Pune, Bangalore/Bengaluru",1 DAY AGO
3,Data Scientist,Mindtree Limited,5-10 Yrs,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",27 DAYS AGO
4,Data Scientist - II,Bizongo,3-6 Yrs,"India, Bangalore/Bengaluru, Mumbai (All Areas)",30+ DAYS AGO
5,Python Programming Language Data Science Pract...,Accenture,4-6 Yrs,Bangalore/Bengaluru,5 DAYS AGO
6,ACN - Applied Intelligence - C4DI - Sustainabi...,Accenture,4-6 Yrs,Bangalore/Bengaluru,5 DAYS AGO
7,Data Scientist - Supply Chain,Cargill,3-5 Yrs,Bangalore/Bengaluru,6 DAYS AGO
8,Data Science Lead - Forecasting,Cargill,5-7 Yrs,Bangalore/Bengaluru,6 DAYS AGO
9,Senior Data Scientist,Cargill,5-10 Yrs,Bangalore/Bengaluru,6 DAYS AGO

In [38]:
driver.close()

#### Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required.  The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps: 1. first get the webpage https://www.naukri.com/. 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 3. Then click the search button. 4. Then apply the location filter and salary filter by checking the respective boxes. 5. Then scrape the data for the first 10 jobs results you get. 6. Finally create a dataframe of the scraped data.

In [59]:
driver= webdriver.Chrome(r"C:\Users\amang\Chromedriver_win32\chromedriver.exe")

In [60]:
url='https://www.naukri.com/'
driver.get(url)
driver.maximize_window()

In [61]:
job=driver.find_element("xpath","/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")        # giving input
job.send_keys("Data Scientist")

driver.find_element("xpath","/html/body/div[1]/div[6]/div/div/div[6]").click()    # click search button
time.sleep(3)

In [71]:
box=driver.find_elements("xpath",'//span[@class="ellipsis fleft"]')    #to identify all checkboxes
for i in box:
    if i.text =="Delhi / NCR":    #click required checkbox
        i.click()
        time.sleep(3)
        print("'Delhi / NCR' filter executed")
        break

'Delhi / NCR' filter executed

In [72]:
box=driver.find_elements("xpath",'//span[@class="ellipsis fleft"]')
for i in box:
    if i.text =="3-6 Lakhs":    #click required checkbox
        i.click()
        time.sleep(3)
        print("'3-6 Lakhs' filter executed")
        break

'3-6 Lakhs' filter executed

In [75]:
title=[]
comp=[]
exp=[]
loc=[]

t= driver.find_elements("xpath",'//a[@class="title fw500 ellipsis"]')                   #get job title
c= driver.find_elements("xpath",'//a[@class="subTitle ellipsis fleft"]')                 #get company name
e= driver.find_elements("xpath",'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')    #get experience req
l= driver.find_elements("xpath",'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')    #get location

#appening data respectively
for i in range(0,10):
    title.append(t[i].text)
    comp.append(c[i].text)
    exp.append(e[i].text)
    loc.append(l[i].text)

In [76]:
print(len(title), len(comp), len(exp), len(loc))

10 10 10 10

In [77]:
# making dataframe
df=pd.DataFrame({"Job Title":title, "Company name":comp, "Experience Required": exp, "Location": loc})
df

,Job Title,Company name,Experience Required,Location
0,Artificial Intelligence/Computer Vision Engine...,Vicara,1-3 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
1,Data Activation Specialist - Adobe Target,Okda Solutions,7-10 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
2,Data Scientist - Engine Algorithm,Primo Hiring,1-3 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
3,Opening For Jr. Data Scientist with Tatras Dat...,Tatras Data Services,2-4 Yrs,Delhi / NCR
4,Data Scientist,Americana Restaurants (india),3-8 Yrs,Gurgaon/Gurugram
5,SE/SSE-Data Scientist,Bold Technology Systems,3-8 Yrs,Delhi / NCR
6,Data Scientist,torcai digital media,2-7 Yrs,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru..."
7,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Digilytics,2-5 Yrs,Gurgaon/Gurugram
8,Data Scientist,Alliance Recruitment Agency,3-4 Yrs,Noida
9,Jr. Data Scientist,Dataflow,1-3 Yrs,Noida

In [78]:
driver.close()

#### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 1. Brand 2. Product Description 3. Price To scrape the data you have to go through following steps: 1. Go to Flipkart webpage by url : https://www.flipkart.com/ 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual. 4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it. 5. Now scrape data from this page as usual. 6. Repeat this until you get data for 100 sunglasses

In [81]:
import pandas as pd
import selenium
import time
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [87]:
driver= webdriver.Chrome(r'C:\Users\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url="https://www.flipkart.com/"
driver.get(url)
time.sleep(3)

In [88]:
# terminate popup
driver.find_element("xpath","/html/body/div[2]/div/div/button").click()

In [90]:
write=driver.find_element("xpath","/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")    #input in textbox
write.send_keys("sunglassses")

driver.find_element("xpath","/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button").click()    #click search button

In [109]:
brand=[]
desc=[]
price=[]

#while loop to repeat process of scrapping data and click on next till the requirement is met.
while len(brand)<100:       
    b= driver.find_elements("xpath",'//div[@class="_2WkVRV"]')    # brand 
    for i in b:
        if len(brand)==100:
            break
        brand.append(i.text)
    
    d= driver.find_elements("xpath",'//a[@class="IRpwTa"]')
    for i in d:
        if len(desc)==100:
            break
        desc.append(i.text)
    
    p= driver.find_elements("xpath",'//div[@class="_30jeq3"]')
    for i in p:
        if len(price)==100:
            break
        price.append(i.text)
        
    print(len(brand),'no of data scrapped')
        
    nxt= driver.find_elements("xpath",'//a[@class="_1LKTO3"]')
    for i in nxt:
        if len(price)==100:
            break
        if (i.text)=="NEXT":
            i.click()
            time.sleep(2)
            
print(len(brand),'number of data scrapped and loop ends..... \n please proceed further')

40 no of data scrapped
80 no of data scrapped
100 no of data scrapped
100 number of data scrapped and loop ends.....
 please proceed further

In [110]:
print(len(brand),len(desc),len(price))

100 100 100

In [111]:
df= pd.DataFrame({"Brand":brand, "Product description": desc, "Price":price})
df

             Brand                                Product description Price
0       LIZA ANGEL  Riding Glasses, Night Vision Spectacle Sunglas...  ₹129
1         Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹499
2        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹129
3           GANSTA    Gradient, UV Protection Aviator Sunglasses (57)  ₹307
4       PHENOMENAL         UV Protection Retro Square Sunglasses (53)  ₹129
..             ...                                                ...   ...
95        TheWhoop      UV Protection Wayfarer Sunglasses (Free Size)  ₹306
96        PROVOGUE  Polarized, UV Protection Rectangular Sunglasse...  ₹664
97        PROVOGUE  Polarized, UV Protection Rectangular Sunglasse...  ₹664
98  kingsunglasses  Mirrored, UV Protection Wayfarer, Rectangular ...  ₹284
99          PIRASO             UV Protection Wayfarer Sunglasses (55)  ₹253

[100 rows x 3 columns]

In [112]:
driver.close()

#### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps: 1. First get the webpage https://www.flipkart.com/ 2. Enter “iphone 11” in “Search” field .  3. Then click the search button. You will reach to the below shown webpage . As shown in the above page you have to scrape the tick marked attributes.These are: 1. Rating 2. Review summary 3. Full review 4. You have to scrape this data for first 100 reviews.

In [170]:
import pandas as pd
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings("ignore")

In [171]:
driver= webdriver.Chrome(r'C:\Users\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()
url="https://www.flipkart.com/"
driver.get(url)
time.sleep(3)

In [172]:
# terminate popup
driver.find_element("xpath","/html/body/div[2]/div/div/button").click()

In [173]:
text= driver.find_element("xpath",'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')    # text input
text.send_keys("Iphone 11")

driver.find_element("xpath",'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()    #search button
time.sleep(3)

In [174]:
'''#click the product link
driver.find_element("xpath",'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]').click()
time.sleep(2)

driver.find_element("xpath",'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a').click()    #reviews'''


# after spending a lot of time (nearly 3 hours), i get to know that by clicking the product new tab opens while the driver still stays at the...
# ..... previous tab. Hence I am not going to click. I will just get the href link of the product and by using driver.get,...
#... i will directly go to the product link on the same tab

'#click the product link\ndriver.find_element("xpath",\'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]\').click()\ntime.sleep(2)\n\ndriver.find_element("xpath",\'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a\').click()    #reviews'

In [175]:
# getting the product href link
plink=driver.find_element("xpath","/html/body/div[1]/div/div[3]/div[1]/div[2]/div[3]/div/div/div/a").get_attribute('href')
plink

'https://www.flipkart.com/apple-iphone-11-black-128-gb/p/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8IBG6BS&marketplace=FLIPKART&q=Iphone+11&store=tyy%2F4io&spotlightTagId=BestsellerId_tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=Search&iid=60c915bc-2416-425e-a803-70a7bd42a7ab.MOBFWQ6BKRYBP5X8.SEARCH&ppt=sp&ppn=sp&ssid=h1zpzwr2f40000001670391015731&qH=800ea8dbf6454a2a'

In [195]:
#open product link
driver.get(plink)
time.sleep(3)
driver.find_element("xpath",'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a').click()    # open all reviews
time.sleep(3)

In [196]:
rate=[]
summ=[]
full=[]

while len(rate)<100:
    r=driver.find_elements("xpath",'//div[@class="col _2wzgFH K0kLPL"]')
    
    for i in r:
        if len(rate)==100:
            break
        rate.append(i.text.split("\n")[0])    #get ratings
        summ.append(i.text.split("\n")[1])    #get summary reviews
        full.append(i.text.split("\n")[2])    # get full reviews
        
    if len(rate)==100:
        break
    nxt= driver.find_elements("xpath",'//a[@class="_1LKTO3"]')
    for i in nxt:
        if i.text =="NEXT":
            i.click()    #click next button
            time.sleep(3)
            
    print(len(rate), "number of reviews has been scrapped.")
print(len(rate), "number of reviews has been scrapped and the loop ended. please proceed.....")

10 number of reviews has been scrapped.
20 number of reviews has been scrapped.
30 number of reviews has been scrapped.
40 number of reviews has been scrapped.
50 number of reviews has been scrapped.
60 number of reviews has been scrapped.
70 number of reviews has been scrapped.
80 number of reviews has been scrapped.
90 number of reviews has been scrapped.
100 number of reviews has been scrapped and the loop ended. please proceed.....

In [197]:
print(len(rate),len(summ),len(full))

100 100 100

In [198]:
df= pd.DataFrame({"Ratings":rate, "Review Summary": summ, "Full review": full})
df

,Ratings,Review Summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific,Simply Awesome
96,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
97,5,Perfect product!,Worth the money’ starting first from its perfo...
98,1,Absolute rubbish!,Worst product delivered by Flipkart
99,5,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use..."

In [199]:
driver.close()

#### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker: 1. Brand 2. Product Description 3. Price

In [201]:
import pandas as pd
import selenium
import time
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [203]:
driver= webdriver.Chrome(r'C:\Users\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()
url="https://www.flipkart.com/"
driver.get(url)
time.sleep(3)

#terminate pop up
driver.find_element("xpath","/html/body/div[2]/div/div/button").click()

In [204]:
text= driver.find_element("xpath",'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')    # text input
text.send_keys("sneakers")

driver.find_element("xpath",'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()    #search button
time.sleep(3)

In [222]:
brand=[]
prod=[]
price=[]

while len(brand)<100:
    a= driver.find_elements("xpath",'//div[@class="_2B099V"]')
    for i in a:
        if len(brand)==100:
            break                                            #as soon as length of brand becomes 100, break for loop
        brand.append(i.text.split("\n")[0])                  #get brand details
        prod.append(i.text.split("\n")[1])                   #get product details
        price.append(i.text.split("\n")[2].split("₹")[1])    #get price details
    
    print(len(brand), "number of product details has been scrapped")
    if len(brand)==100:
        break                                                #as soon as length of brand becomes 100, break While loop
        
    nxt= driver.find_elements("xpath",'//a[@class="_1LKTO3"]')
    for i in nxt:
        if i.text=="NEXT":
            i.click()
            time.sleep(3)
        
        
print(len(brand), "number of product details has been scrapped and loop ended.... please proceed")

40 number of product details has been scrapped
80 number of product details has been scrapped
100 number of product details has been scrapped
100 number of product details has been scrapped and loop ended.... please proceed

In [223]:
print(len(brand),len(prod),len(price))

100 100 100

In [224]:
df= pd.DataFrame({"Brand":brand, "Product description": prod, "Price":price})
df

       Brand                                Product description  Price
0      asian  Jasper-02 Black Sneakers,Loafers,Casuals,Walki...    842
1       PUMA                           Trinity Sneakers For Men  1,679
2     Labbin                                   Sneakers For Men    399
3        SFR  FAST Trenddy Tainer Lace-ups Sporty Casuals Sn...    299
4     Shozie                                   Sneakers For Men    299
..       ...                                                ...    ...
95  ASTEROID  Original Luxury Branded Fashionable Men's Casu...    499
96     asics                           fuzor B Sneakers For Men  2,047
97     asian  Jasper-02 Grey Casuals,Walking,Training,Runnin...    842
98     Bacan                                   Sneakers For Men    549
99  RED TAPE                                   Sneakers For Men  1,099

[100 rows x 3 columns]

In [225]:
driver.close()

#### Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [323]:
import pandas as pd
import selenium
import time
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [324]:
driver= webdriver.Chrome(r'C:\Users\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()
url="https://www.myntra.com/shoes"
driver.get(url)
time.sleep(3)

In [325]:
#set 2nd price filter
driver.find_element("xpath","/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label").click()
time.sleep(3)

# set color filter
c= driver.find_elements("xpath",'//label[@class="common-customCheckbox"]')
for i in c:
    if (i.text.split(" ")[0] == 'Black'):
        i.click()
        time.sleep(2)
        break

In [349]:
brand=[]
desc=[]
price=[]

while len(brand)<100:
    info= driver.find_elements("xpath",'//div[@class="product-productMetaInfo"]')    #get complete info of the products
    for i in info:
        if len(brand)==100:
            break
        brand.append(i.text.split("\n")[0])                     # append the data in required list using .split()
        desc.append(i.text.split("\n")[1])
        price.append(i.text.split("\n")[2].split("Rs. ")[1])
        
    print(len(brand),"number of product data has been scrapped")
    if len(brand)==100:
        break
        
    driver.find_element("xpath",'//li[@class="pagination-next"]').click()    # Next button
    time.sleep(3)

print("Required data scrapped, please proceed.")

50 number of product data has been scrapped
100 number of product data has been scrapped
Required data scrapped, please proceed.

In [350]:
print(len(brand),len(desc),len(price))

100 100 100

In [355]:
df= pd.DataFrame({"Brand":brand, "Description": desc, "Price in INR":price})
df

           Brand                          Description Price in INR
0         ADIDAS        Men 4DFWD_Pulse Running Shoes        11199
1          ASICS              Women Novablast 2 Shoes        10399
2         ADIDAS       Men Ultraboost 5.0 DNA Running        10879
3   UNDER ARMOUR       Men ChargedEscape 3 BL Running         8999
4   UNDER ARMOUR       Men ChargedEscape 3 BL Running         8999
..           ...                                  ...          ...
95       Saint G          Vegan Leather Slouchy Boots        13520
96      Skechers                     Men UNO Sneakers         7999
97       Saint G       Embellished Leather Flat Boots        13200
98       Saint G  Leather High-Top Block Heeled Boots        13200
99       Saint G                   Leather Calf Boots         7425

[100 rows x 3 columns]

In [352]:
driver.close()

#### Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 1. Title 2. Ratings 3. Price

In [262]:
import pandas as pd
import selenium
import time
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [316]:
driver= webdriver.Chrome(r'C:\Users\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()
url="https://www.amazon.in/"
driver.get(url)
time.sleep(3)

In [317]:
#send input to text box
driver.find_element("xpath",'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input').send_keys("Laptop")

#click search icon
driver.find_element("xpath",'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()
time.sleep(3)

In [318]:
#set filter
fil= driver.find_elements("xpath",'//span[@class="a-size-base a-color-base"]')
for i in fil:
    if i.text=="Intel Core i7":
        i.click()
        break

In [319]:
title=[]
rate=[]
price=[]
c=10
b=0
t= driver.find_elements("xpath",'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
r= driver.find_elements("xpath",'//span[@class="a-size-base"]')
p= driver.find_elements("xpath",'//span[@class="a-price-whole"]')

#title
for i in t:                       # this loop is to keep record of empty data
    if i.text == "":          
        c+=1

for i in range(0,c):             # increase the range by number of empty data present
    if t[i].text == "":
        continue                 # continue if empty data.
    title.append(t[i].text)      # get title  
        
#ratings
c=10
for i in r:
    if i.text == "":
        c+=1

for i in range(0,c):
    if r[i].text == "":
        continue
    rate.append(r[i].text)       #get ratings
        
#price
c=10
for i in p:
    if i.text == "":
        c+=1

for i in range(0,c):
    if p[i].text == "":
        continue
    price.append(p[i].text)     #get price

In [320]:
print(len(title),len(rate),len(price))

10 10 10

In [321]:
df=pd.DataFrame({"Title": title, "Ratings":rate, "Price":price})
df

                                               Title Ratings     Price
0  HP Pavilion x360 11th Gen Intel Core i7 14 inc...     4.4    82,490
1  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...     4.2    94,391
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....     3.7    84,500
3  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...     4.2    82,990
4  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...     4.0    93,990
5  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...     3.9    79,990
6  HP Victus Gaming Latest 12th Gen Intel Core i7...     4.3    82,990
7  ASUS TUF Gaming F17 (2022), 17.3"(43.94 cms) F...     4.0  1,09,990
8  HP Pavilion x360 11th Gen Intel Core i7 14 inc...     4.4    82,490
9  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...     3.2    24,960

In [322]:
driver.close()

### NOTE- As website of ambitionbox was not working properly. I was informed to skip Q9 & 10. Ticket no- "Ticket #12761"

#### Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.  This task will be done in following steps: 1. First get the webpage https://www.ambitionbox.com/ 2. Click on the Job option. 3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button. 4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”. 5. Then scrape the data for the first 10 jobs results you get on the above shown page. 6. Finally create a dataframe of the scraped data.

In [1]:
import pandas as pd
import selenium
import time
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver= webdriver.Chrome(r'C:\Users\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url="https://www.ambitionbox.com/"
driver.get(url)
time.sleep(3)

In [9]:
#click jobs option
driver.find_element("xpath","/html/body/div[2]/div/div/div[1]/header/nav/ul/li[5]/a").click()
time.sleep(5)

#enter input in textbox
driver.find_element("xpath","/html/body/div[2]/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input").send_keys("Data Scientist")

#click search button
driver.find_element("xpath","/html/body/div[2]/div/div/div[2]/div[1]/div[1]/div/div/div/button").click()
time.sleep(10)

In [10]:
# click on location
driver.find_element("xpath",'/html/body/div[2]/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]').click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=108.0.5359.96)
Stacktrace:
Backtrace:
	(No symbol) [0x0037F243]
	(No symbol) [0x00307FD1]
	(No symbol) [0x001FCF10]
	(No symbol) [0x0022D003]
	(No symbol) [0x002232A6]
	(No symbol) [0x0024858C]
	(No symbol) [0x00222BFF]
	(No symbol) [0x00248804]
	(No symbol) [0x0025C9EB]
	(No symbol) [0x00248386]
	(No symbol) [0x0022163C]
	(No symbol) [0x0022269D]
	GetHandleVerifier [0x00619A22+2655074]
	GetHandleVerifier [0x0060CA24+2601828]
	GetHandleVerifier [0x00428C0A+619850]
	GetHandleVerifier [0x00427830+614768]
	(No symbol) [0x003105FC]
	(No symbol) [0x00315968]
	(No symbol) [0x00315A55]
	(No symbol) [0x0032051B]
	BaseThreadInitThunk [0x75AC7BA9+25]
	RtlInitializeExceptionChain [0x77C4BB9B+107]
	RtlClearBits [0x77C4BB1F+191]

In [380]:
# Click on location dropdown
for i in driver.find_elements("xpath",'//p[@class="body-medium text-capitalize undefined"]'):
    if(i.text =="Location"):
        print('inside loop')
        i.click()
        time.sleep(1)
        
# enter noida in location textbox
l=driver.find_element("xpath","/html/body/div[2]/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
l.send_keys("Noida")

# select noida as input
driver.find_element("xpath","/html/body/div[2]/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label").click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=108.0.5359.95)
Stacktrace:
Backtrace:
	(No symbol) [0x00A1F243]
	(No symbol) [0x009A7FD1]
	(No symbol) [0x0089CF10]
	(No symbol) [0x008C795E]
	(No symbol) [0x008C70E5]
	(No symbol) [0x008E858C]
	(No symbol) [0x008C2BFF]
	(No symbol) [0x008E8804]
	(No symbol) [0x008FC9EB]
	(No symbol) [0x008E8386]
	(No symbol) [0x008C163C]
	(No symbol) [0x008C269D]
	GetHandleVerifier [0x00CB9A22+2655074]
	GetHandleVerifier [0x00CACA24+2601828]
	GetHandleVerifier [0x00AC8C0A+619850]
	GetHandleVerifier [0x00AC7830+614768]
	(No symbol) [0x009B05FC]
	(No symbol) [0x009B5968]
	(No symbol) [0x009B5A55]
	(No symbol) [0x009C051B]
	BaseThreadInitThunk [0x75A37BA9+25]
	RtlInitializeExceptionChain [0x77A4BB9B+107]
	RtlClearBits [0x77A4BB1F+191]

In [370]:
comp=[]
ts=[]
rate=[]

c= driver.find_elements("xpath",'//div[@class="company-info"]')
for i in c:
    print(i.text)

HCLTech
 ·
3.8
based on 18.9k Reviews